// import:font
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,200italic,200,900italic,900,700,600italic,700italic,600,400italic);
  @font-face {
    font-family: 'vinegarregular';
    src: url('fonts/vinegar-regular-webfont.eot');
    src: url('fonts/vinegar-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/vinegar-regular-webfont.woff2') format('woff2'),
    url('fonts/vinegar-regular-webfont.woff') format('woff'),
    url('fonts/vinegar-regular-webfont.ttf') format('truetype'),
    url('fonts/vinegar-regular-webfont.svg#vinegarregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
// endfont

// app
  @import "variables";
  @import "global";
  @import "header";
  @import "footer";
  @import "page";
  @import "button";
  @import "margin";
// endapp

// &:extend(.trans);
// darken(@header-bg, 4%);
// lighten(@header-bg, 4%);
// fade(@header-bg, 50%);

// abcasdasd
