.app-btn {
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  outline: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &.medium {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

    @media(max-width:767px){
      margin-bottom: 25px;
    }
    @media(min-width:768px){
      margin-bottom: 25px;
    }
    @media(min-width:992px){
      margin-bottom: 0px;
    }
    @media(min-width:1200px){
      margin-bottom: 0px;
    }

  }

  &.double {
    margin-left: 25px;
    margin-right: 25px;
  }

  &.green{
    background-color: @green;
    color: @white !important;
    border-color: @green;
    border: 3px solid lighten(@green, 13%);
    &:hover,
    &:focus {
      &:extend(.trans);
      background-color: lighten(@green, 13%);
      color: @white;
      text-decoration: none;
      cursor: pointer;
    }
    .fa {
      color: @white;
      margin-right: 5px;
    }
  }


  &.dark-green {
    background-color: @dark-green;
    color: @white !important;
    text-transform: uppercase;
    font-size: 13px;
    border-color: @white;
    border: 3px solid lighten(@white, 13%);
    &:hover,
    &:focus {
      &:extend(.trans);
      background-color: lighten(@green, 13%);
      color: @white;
      text-decoration: none;
      cursor: pointer;
    }
    .fa {
      color: @white;
      margin-left: 35px;
    }
  }


}