footer {
  //position: absolute;
  background-color: @footer-bg;
  color: @base;
  //height: @footer;
  width: 100%;
  bottom: 0;
  padding-top: 54px;
  padding-bottom: 29px;

  .logo {
    display: block;
    img {
      width: 242px;
    }
  }

  .widget-area {
    position: relative;

    @media(max-width:767px){
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 65px;
    }
    @media(min-width:768px){
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 65px;
    }
    @media(min-width:992px){
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 65px;
    }
    @media(min-width:1200px){}

    .widget-title {
      font-family: 'vinegarregular';
      font-size: 16px;
      color: @green;
    }
    ul {
      padding-left: 0px;
      float: left;
      margin-right: 35px;
      padding-right: 25px;
      margin-bottom: 0px;

      @media(max-width:767px){
        float: none;
        margin-bottom: 15px;
      }
      @media(min-width:768px){
        float: none;
        margin-bottom: 15px;
      }
      @media(min-width:992px){
        float: left;
      }
      @media(min-width:1200px){
        float: left;
      }

      &:first-child {
        &:before {
          content: '';
          background-color: #494949;
          width: 1px;
          height: 18px;
          position: absolute;
          margin-left: 100px;

          @media(max-width:767px){
            background-color: transparent;
          }
          @media(min-width:768px){
            background-color: transparent;
          }
          @media(min-width:992px){
            background-color: #494949;
          }
          @media(min-width:1200px){
            background-color: #494949;
          }

        }
      }
      &:nth-child(2) {
        &:before {
          content: '';
          background-color: #494949;
          width: 1px;
          height: 18px;
          position: absolute;
          margin-left: 150px;

          @media(max-width:767px){
            background-color: transparent;
          }
          @media(min-width:768px){
            background-color: transparent;
          }
          @media(min-width:992px){
            background-color: #494949;
          }
          @media(min-width:1200px){
            background-color: #494949;
          }
        }
      }
      &:last-child {
        &:before {
          background-color: transparent;
        }
      }
      li {
        list-style: none;
        text-transform: uppercase;
        padding-top: 6px;
        font-size: 14px;
        line-height: 14px;
        &.title {
          font-family: 'vinegarregular';
          font-size: 16px;
          color: @green;
          text-transform: none;
          padding-bottom: 1px;
          padding-top: 1px;

        }
        .fa {
          font-size: 18px;
          margin-right: 10px;
          margin-top: 3px;
        }
        a {
          text-decoration: none;
          color: #888;
          &:hover {
            color: @white;
            text-decoration: none;
          }
        }

      }
    }
  }

  .rights {
    padding-top: 54px;
    color: #c3c3c3;

    a {
      color: @green;
      text-decoration: none;
      &:hover {
        color: @white;
        text-decoration: none;
      }
    }

  }

  a {
    color: @green;
    text-decoration: none;
  }

}