html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: @base;
  //width: 100%;
  margin-bottom: @footer;
}

.container {
  max-width: 908px;
}

.container-fluid {
  max-width: 1349px;
}

.container-full {
  min-width: 100%;
  display: inline-flex;
}

.hidden {
  display: none;
}

.trans {
  -o-transition: all @trans-time linear;
  -moz-transition: all @trans-time linear;
  -khtml-transition: all @trans-time linear;
  -webkit-transition: all @trans-time linear;
  -ms-transition: all @trans-time linear;
  transition: all @trans-time linear;
}

a {
  &:hover {
    &:extend(.trans);
    text-decoration: none;
  }
}

@media(max-width:767px){
  .img-responsive {
    //float: none;
    width: 100%;
    margin-bottom: 35px;
    padding-right: 15px;
    padding-top: 25px
  }
  //float: none;
  width: 100%;
  margin-bottom: 35px;
}
@media(min-width:768px){
  .img-responsive {
    //float: none;
    width: 100%;
    margin-bottom: 35px;
    padding-right: 15px;
    padding-top: 25px
  }
  //float: none;
  width: 100%;
  margin-bottom: 35px;
}
@media(min-width:992px){
  .img-responsive {
    //float: none;
    width: 100%;
    margin-bottom: 35px;
    padding-right: 0px;
    padding-top: 0px
  }
  //float: none;
  width: 100%;
  margin-bottom: 0px;
}
@media(min-width:1200px){
  .img-responsive {
    //float: none;
    width: 100%;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px
  }
}