header {
  background-color: @header-bg;
  color: @white;
  margin-bottom: -15px;
  .logo {
    display: block;
    margin-top: 33px;
    margin-bottom: 33px;
    img {
      width: 242px;
    }
  }

  .menu-desktop {
    ul {
      font-size: 16px;
      font-weight: 700;
      padding-left: 0px;
      li {
        list-style: none;
        display: inline-block;
        border-top: 2px solid transparent;
        padding-top: 53px;
        padding-bottom: 35px;
        margin-right: 59px;

        &.active {
          color: @green;
        }

        &:last-child {
          margin-right: 0px;
        }

        &:hover {
          border-top: 2px solid @green;
        }
        a {
          color: @white;
          text-decoration: none;
          &:hover {
            color: @green;
            text-decoration: none;
          }
        }

      }
    }
    .dropdown {
      &:hover {
        color: @green;
        cursor: pointer;
      }
    }
    .dropdown-menu {
      background-color: #2b2b2b;
      border: 0px solid transparent;
      width: 80px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 20px;
      li {
        font-size: 16px;
        margin-left: 15px;
        width: 80%;
        border-bottom: 1px solid #383838;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 25px;
        padding-bottom: 10px;
        &:last-child {
          border-bottom: 1px solid transparent;
        }
        &:hover {
          border-top: 2px solid transparent;
        }
        a {
          font-size: 13px;
          color: @white;
          background-color: transparent;
          text-decoration: none;
          padding: 0;
          &:hover {
            color: @green;
          }
        }
      }
    }
  }

  .menu-mobile {
    font-size: 36px;
    line-height: 63px;
    margin-top: 25px;
    display: block;
    @media(max-width:767px){
      line-height: 25px;
      font-size: 25px;
    }
  }
  .ico-close {
    display: none;
  }





}




.mobile {
  display: none;
  ul {
    li {
      line-height: 34px;
    }
  }

  &.active {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    color: #999;
    margin-top: 0px;
    padding-top: 140px;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    ul {
      padding-left: 0;

      li {
        list-style: none;
        float: left;
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 40px;
        font-size: 30px;
        margin-bottom: 10px;
        color: @base;
        &:last-child {
          margin-bottom: 15px;
        }
        a {
          color: @base;
          text-decoration: none;
          transition:0.5s;
          border-bottom:1px solid #fff;
          &.active {
            color: @base;
            border-bottom:1px solid #000;
            &:hover {
              color: @base;
              border-bottom:1px solid #000;
            }
          }
          &:hover {
            color: #333;
            border-bottom:1px solid #333;
          }
        }
      }
    }
  }
}

