.h32 {
  line-height: 32px;
}

.h34 {
  line-height: 34px;
}

.h38 {
  line-height: 38px;
}

.mtop10 {
  margin-top: 10px;
}

.mtop15 {
  margin-top: 15px;
}

.mtop20 {
  margin-top: 20px;
}

.mtop25 {
  margin-top: 25px;
}

.mtop30 {
  margin-top: 30px;
}

.mtop40 {
  margin-top: 40px;
}

.mtop75 {
  margin-top: 75px;
}

.mbot0 {
  margin-bottom: 0px;
}

.mbot5 {
  margin-bottom: 5px;
}

.mbot10 {
  margin-bottom: 10px;
}

.mbot15 {
  margin-bottom: 15px;
}

.mbot20 {
  margin-bottom: 20px;
}

.mbot30 {
  margin-bottom: 30px;
}

.ptop10 {
  padding-top: 10px;
}

.ptop20 {
  padding-top: 20px;
}

.pbot10 {
  padding-bottom: 10px;
}

.pbot20 {
  padding-bottom: 20px;
}