.top-image {
  //margin: 0 auto;
  background-color: #fcfcfb;
  background-image: url('images/top-image.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 100%;
  height: 424px;

  @media(max-width:767px){
    margin-bottom: 35px;
  }
  @media(min-width:768px){
    margin-bottom: 35px;
  }
  @media(min-width:992px){
    margin-bottom: 35px;
  }
  @media(min-width:1200px){
    margin-bottom: 0px;
  }

  &.master {
    background-image: url('images/bg-master.jpg');
  }
  &.mevest {
    background-image: url('images/bg-mevest.jpg');
  }


  .text {
    background-color: fade(@green, 60%);
    margin-top: 125px;
    width: 50%;
    font-family: 'vinegarregular';
    font-size: 34px;
    line-height: 34px;
    padding-top: 40px;
    padding-bottom: 40px;

    color: @white;

    @media(max-width:767px){
      padding-left: 15px;
      width: 100%;
    }
    @media(min-width:768px){
      padding-left: 105px;
      width: 60%;
    }
    @media(min-width:992px){
      padding-left: 115px;
      width: 50%;

    }
    @media(min-width:1200px){
      padding-left: 280px;
      width: 50%;
    }

  }
}

.know-image {
  background-color: #fcfcfb;
  background-image: url('images/bg-know.jpg');
  background-repeat: no-repeat;
  height: 410px;


  @media(max-width:767px){
    height: auto;
    padding-bottom: 55px;
    padding-left: 15px;
    margin-left: 0px;
    overflow: hidden;
  }
  @media(min-width:768px){
    height: auto;
    padding-bottom: 55px;
    padding-left: 15px;
    overflow: hidden;
  }
  @media(min-width:992px){
    height: auto;
    padding-bottom: 55px;
    padding-left: 15px;
    margin-left: 15px;
    overflow: hidden;
  }
  @media(min-width:1200px){
    height: 410px;
    padding-left: 15px;
    margin-left: 15px;
  }

  .question {
    font-family: 'vinegarregular';
    color: @green;
    font-size: 18px;
    line-height: 18px;
    padding-top: 75px;
  }
  .answer {
    font-family: 'vinegarregular';
    color: @base;
    font-size: 30px;
    line-height: 40px;
    margin-top: 25px;
  }
}

article {

  @media(max-width:767px){
    padding-left: 15px;
  }
  @media(min-width:768px){
    padding-left: 15px;
  }
  @media(min-width:992px){
    padding-left: 15px;
  }
  @media(min-width:1200px){
  }

  &.sliver,
  .sliver {
    background-color: #f8f8f8;
    overflow: hidden;

    @media(max-width:767px){
      padding-left: 15px;
    }
    @media(min-width:768px){
      padding-left: 15px;
    }
    @media(min-width:992px){
      padding-left: 0px;
    }
    @media(min-width:1200px){
      padding-left: 0px;
    }

    img {
      float: right;
/*
      @media(max-width:767px){
        .img-responsive {
          float: none;
          width: 100%;
        }
        float: none;
        width: 100%;
      }
      @media(min-width:768px){
        .img-responsive {
          float: none;
          width: 100%;
        }
        float: none;
        width: 100%;
      }
      @media(min-width:992px){
        .img-responsive {
          float: none;
          width: 100%;
        }
        float: none;
        width: 100%;
      }
      @media(min-width:1200px){
        float: right;
      }
*/
    }
  }
  h2 {
    margin-top: 86px;
    font-family: 'vinegarregular';
    color: @green;
    font-size: 28px;


    @media(max-width:767px){
      margin-top: 26px;
    }
    @media(min-width:768px){
      margin-top: 26px;
    }
    @media(min-width:992px){
      margin-top: 36px;
    }
    @media(min-width:1200px){
      margin-top: 86px;
    }

    &.first {
      margin-top: 46px;
      @media(max-width:767px){
        margin-top: 26px;
      }
      @media(min-width:768px){
        margin-top: 26px;
      }
      @media(min-width:992px){
        margin-top: 46px;
      }
      @media(min-width:1200px){
        margin-top: 46px;
      }
    }

    &.second {
      margin-top: 40px;

      @media(max-width:767px){
        margin-top: 20px;
      }
      @media(min-width:768px){
        margin-top: 20px;
      }
      @media(min-width:992px){
        margin-top: 40px;
      }
      @media(min-width:1200px){
        margin-top: 40px;
      }
    }

    &.sub {
      margin-top: 66px;
    }
    &.faq {
      margin-top: 26px;
    }

    &.logistics {
      margin-top: 130px;

      @media(max-width:767px){
        margin-top: 25px;
      }
      @media(min-width:768px){
        margin-top: 25px;
      }
      @media(min-width:992px){
        margin-top: 70px;
      }
      @media(min-width:1200px){
        margin-top: 130px;
      }
    }

    span {
      color: #9f9f9f;
    }

    &.line {
      &:after {
        background-color: #e7e7e7;
        width: 78px;
        height: 1px;
        display: block;
        content: '';
        margin-top: 10px;
      }
    }
  }

  .green-title {
    position: absolute;
    background-color: fade(@green, 80%);
    color: @white;
    font-family: 'vinegarregular';
    font-size: 32px;
    line-height: 42px;
    margin-left: -92px;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 35px;
    padding-right: 20px;

    @media(max-width:767px){
      position: static;
      margin-left: 0px;
    }
    @media(min-width:768px){
      position: static;
      margin-left: 0px;
    }
    @media(min-width:992px){
      position: absolute;
      margin-left: -92px;
    }
    @media(min-width:1200px){
      position: absolute;
      margin-left: -92px;
    }

  }

  .entry {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: @entry;
  }
  .description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
    line-height: 26px;
    color: @base;

    @media(max-width:767px){
      padding-bottom: 25px;
    }
    @media(min-width:768px){
      padding-bottom: 25px;
    }
    @media(min-width:992px){
      padding-bottom: 25px;
    }

    a {
      color: @green;
      text-decoration: none;
      &:hover {
        color: @green;
        text-decoration: underline;
      }
    }

    ul {
      padding-left: 0px;
      li {
        list-style: none;
        .question {
          font-family: 'vinegarregular';
          color: @base;
          font-size: 20px;
          margin-top: 20px;
        }
        .answer {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px;
          margin-top: 5px;
          font-weight: 400;
          line-height: 20px;
          color: @base;

          a {
            text-decoration: underline;
          }

        }
      }
    }

    .calendar {
      margin-top: 20px;

      ul {
        li {
          position: relative;
          list-style: none;
          padding-left: 25px;
          &:before {
            content: url('images/icon-calnedar.png');
            background-size: 15px 15px;
            //background: 'images/icon-calnedar.png';


            padding-right: 0.5em;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
      }
    }

  }
  small {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: @entry;
    padding-top: 10px;
    display: inline-block;
    &:after {
      background-color: #e7e7e7;
      width: 78px;
      height: 1px;
      display: block;
      content: '';
      margin-top: 10px;
    }
  }
  .small-title {
    font-family: 'vinegarregular';
    color: @green;
    font-size: 20px;
    margin-top: 20px;

    @media(max-width:767px){
      padding-bottom: 35px;
    }
    @media(min-width:768px){
      padding-bottom: 35px;
    }
    @media(min-width:992px){
      padding-bottom: 35px;
    }
    @media(min-width:1200px){
      padding-bottom: 0px;
    }

  }
}

h2 {
  &.pricing {
    margin-top: 86px;
    font-family: 'vinegarregular';
    color: @green;
    font-size: 36px;
    line-height: 78px;

    @media(max-width:767px){
      margin-top: 26px;
    }
    @media(min-width:768px){
      margin-top: 26px;
    }
    @media(min-width:992px){
      margin-top: 36px;
    }
    @media(min-width:1200px){
      margin-top: 86px;
    }

  }
}
h3 {
  &.pricing {
    margin-top: 0px;
    font-family: 'vinegarregular';
    color: @green;
    font-size: 20px;
    line-height: 22px;
  }
}
.pricing {


  img {
    max-height: 50px;
  }

  a {
    display: block;
    &:hover {
      .title,
      .price,
      .big-prace {
        color: @green;
      }
    }
  }

  .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: @base;
    margin-top: 15px;
  }
  .price {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: @entry;
    margin-top: 9px;


    @media(max-width:767px){
      margin-bottom: 35px;
    }
    @media(min-width:768px){
      margin-bottom: 35px;
    }
    @media(min-width:992px){
      margin-bottom: 35px;
    }
    @media(min-width:1200px){
      margin-bottom: 90px;
    }

  }
}

.pricing-silver,
.pricing-column {
  background-color: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 80px;

  .pricing {
    margin-top: 5px;
    line-height: 38px;
  }

  a {
    display: block;
    &:hover {
      .big-prace {
        color: @green;
      }
    }
  }

  .big-prace {
    font-family: 'vinegarregular';
    font-size: 45px;
    line-height: 45px;
    padding-top: 0px;
    color: @base;

    span {
      font-size: 28px;
      line-height: 10px;
      top: 13px;
      position: absolute;
      margin-left: -20px;
    }

    &:before {
      margin-right: 25px;
    }

    &:before,
    &:after {
      content: '';
      display: inline-block;
      background-color: #d8d8d8;
      width: 83px;
      height: 1px;
      vertical-align: middle;
      line-height: normal;
    }


  }
}

.pricing-column {
  background-color: @white;
  .price {
    margin-top: 60px;
  }
  .big-prace {
    line-height: 15px;
    span {
      font-size: 28px;
      line-height: 10px;
      top: -2px;
      position: absolute;
      margin-left: -20px;
    }
    &:before,
    &:after {
      content: '';
      width: 0px;
      background-color: transparent;

    }
  }
  .prace-title {
    font-family: 'vinegarregular';
    font-size: 24px;
    margin-top: 40px;
    padding-top: 0px;
    color: @green;
    span {
      margin-top: 10px;
      display: block;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: @base;
    }
  }
  .info {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: @entry;

    @media(max-width:767px){
      margin-bottom: 45px;
    }
    @media(min-width:768px){
      margin-bottom: 45px;
    }
    @media(min-width:992px){
      margin-bottom: 0px;
    }
    @media(min-width:1200px){
      margin-bottom: 0px;
    }

    .line {
      background-color: #e5e5e5;
      height: 1px;
      width: 80%;
      display: block;
      margin:  0 auto;
      margin-top: 15px;
      margin-bottom: 10px;


    }

  }
}


.bg-ready {
  background-image: url('images/bg-ready.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 409px;
  background-size: cover;

  @media(max-width:767px){
    height: auto;
  }
  @media(min-width:768px){
    height: auto;
  }
  @media(min-width:992px){
    height: 409px;
  }
  @media(min-width:1200px){
    height: 409px;
  }

  &.live {
    background-image: url('images/bg-live.jpg');
    height: 364px;

    @media(max-width:767px){
      height: auto;
    }
    @media(min-width:768px){
      height: auto;
    }
    @media(min-width:992px){
      height: 364px;

    }
    @media(min-width:1200px){
      height: 364px;

    }

    .title {
      padding-top: 55px;

      @media(max-width:767px){
        padding-top: 15px;
      }
      @media(min-width:768px){
        padding-top: 25px;
      }
      @media(min-width:992px){
        padding-top: 45px;
      }
      @media(min-width:1200px){
        padding-top: 55px;
      }

    }
    .info {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
      color: @base;
    }
    .line {
      background-color: #16a464;
      height: 1px;
      width: 117px;
      display: block;
      margin:  0 auto;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .entry {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin: 0 auto;
      margin-top: 10px;
      max-width: 470px;

      color: @white;
    }
    .form-control {
      background-color: @white;
      border-color: lighten(@white, 15%);
      font-size: 13px;
      line-height: 20px;
      height: 40px;
      color: @base;
      -webkit-box-shadow: 0px 0px 0px 0px;
      -moz-box-shadow: 0px 0px 0px 0px;
      box-shadow: 0px 0px 0px 0px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;

      @media(max-width:767px){
        margin-bottom: 25px;
      }
      @media(min-width:768px){
        margin-bottom: 25px;
      }
      @media(min-width:992px){
        margin-bottom: 0px;
      }
      @media(min-width:1200px){
        margin-bottom: 0px;
      }

      &:focus {
        color: @base !important;
          -moz-box-shadow:    0px 0px 1px 1px lighten(@green, 15%);
          -webkit-box-shadow: 0px 0px 1px 1px lighten(@green, 15%);
          box-shadow:         0px 0px 1px 1px lighten(@green, 15%);
      }
    }

  }
  .title {
    font-family: 'vinegarregular';
    font-size: 44px;
    line-height: 44px;
    padding-top: 129px;
    color: @white;

    @media(max-width:767px){
      padding-top: 30px;
    }
    @media(min-width:768px){
      padding-top: 60px;
    }
    @media(min-width:992px){
      padding-top: 109px;
    }
    @media(min-width:1200px){
      padding-top: 129px;
    }
  }
  .entry {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: @white;
    margin-top: 25px;
  }

}


.address-info {

  padding-top: 36px;
  padding-bottom: 36px;

  ul {
    padding-left: 0px;
    margin-bottom: 0px;
    display: inline-block;
    li {
      list-style: none;
      padding-left: 45px;
      display: inline-block;

      font-family: 'vinegarregular';
      font-size: 24px;
      color: @base;

      border-right: 1px solid #d8d8d8;



      padding-right: 10px;
      margin-right: 10px;

      @media(max-width:767px){
        margin-bottom: 25px;
        border-right: 0px;
      }
      @media(min-width:768px){
        margin-bottom: 25px;
        border-right: 0px;
      }
      @media(min-width:992px){
        margin-bottom: 0px;
        border-right: 1px solid #d8d8d8;
      }
      @media(min-width:1200px){
        margin-bottom: 0px;
        border-right: 1px solid #d8d8d8;
      }


      &:last-child {
        border-right: 0px;
        padding-right: 0px;
        margin-right: 0px;
      }

      span {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: @green;
        position: absolute;
        margin-left: -45px;

        @media(max-width:767px){
          display: none;
        }
        @media(min-width:768px){
          display: none;
        }
        @media(min-width:992px){
          display: block;
        }
        @media(min-width:1200px){
          display: block;
        }

      }

      a {
        color: @base;
        text-decoration: none;
        &:hover {
          color: @green;
          text-decoration: none;
        }
      }

    }
  }
}